
<html>

    <head>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/maint.css') }}">
    </head>
    <body>
        <h1>Welcome to the home page</h1>

    
        <div class = "dropdown">
            <button class= "dropbtn"> button name</button>
            <div class = dropdown-content> 
                <a href = '#'> link one</a>
                <a href = '#'> link two</a>
                <a href = '#'> link three</a>
            </div>
        </div>
    </body>
    
</html>